/* This is a comment.
   This document contains CSS code
   for styling the HTML content.
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ece2a8;
    color: #ffffff;
}

header {
    background-color: rgb(93, 118, 168);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

main {
    background-color: rgb(93, 118, 168);
    border: 12px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}